@media screen and (min-width: 1200px) and (max-width:1500px ){


	.nav-inicio li:hover{
	/*padding: 0px;
	transition: all 1s;*/
	animation: expand 1.5s ;
	}

	.nav-inicio li:hover a p{
	   animation: ixpand 1.5s ;
	/*padding: 20px !important;
	transition: all 1s;*/
	}

.col-lg-2-5 {
	width: 20%;
}

.hidden-lg-2{
	display: none;
}

.home-bottom-box p {
	margin-top: 5%;
}


.col-lg-2-6{
	width:16%;
}


.col-lg-2-7 {
	width: 14.28%;
}


/*CIERRE DE LLLAVE*/
}
