@media screen and (min-width: 1200px) and (max-width:1500px ){


.col-lg-2-5 {
	width: 20%;
}

.hidden-lg-2{
	display: none;
}

.home-bottom-box p {
	margin-top: 5%;
}


.col-lg-2-6{
	width:16%;
}


.col-lg-2-7 {
	width: 14.28%;
}


/*CIERRE DE LLLAVE*/
}
