@media  screen and (min-width: 992px) and (max-width: 1200px){



/*ESCRIBIR ADENTRO DE ESTE MEDIA QUERY*/

.col-md-2-5 {
	width: 20%;
}

.col-md-2-6{
	width:16%;
}

.col-md-2-7 {
	width: 14.28%;
}

.container-inicio {
    padding:0px;
}

inicio {
	padding: 40px 20px;
}

/*FIN DE LLAVES PRINCIPALES*/
}
