@media screen and (min-width: 768px) and (max-width: 992px){


/*ESCRIBIR ADENTRO DE ESTE MEDIA QUERY*/
.col-sm-2-7 {
	width: 14.28%;
}

	.col-sm-2-5 {
		width: 20%;
	}

	.col-sm-2-6{
		width:16%;
	}

	/*FIN DE LLAVE PRINCIPAL*/


}


@media screen and (min-width: 768px) and (max-width: 992px) and(orientation:portrait){

}
