@media screen and (min-width: 768px) and (max-width: 992px){


/*ESCRIBIR ADENTRO DE ESTE MEDIA QUERY*/
.col-sm-2-7 {
	width: 14.28%;
}


	.table-mercado > div:first-child > h3 {
		font-size: 1.3rem;
		padding-left: 0px;
	}

	.box-mercado .table-mercado-items .moneda-mercados {
		color: #3F3F3F;
		font-size: 0.8rem;
		padding: 0;
		margin: 0;
		display: block;
		text-align: left;
		vertical-align: -webkit-baseline-middle;
		padding-top: 7px;
		padding-left: 0px;
		font-weight: 700;
	}

	.col-sm-2-5 {
		width: 20%;
	}

	.columna-indicadores p {
		font-size: 1.4rem;
		padding-top: 3px;
		margin: 0;
		text-align: left;
		padding-left: 2px;
	}

	.container-items-mercados h3 {
		color: #2EA982!important;
		text-align: center!important;
		text-transform: uppercase;
		font-size: 1.5rem!important;
	}


	.columna-ganado p {
		font-size: 1.6rem;
		padding-left:5px;
	}


	.columna-granos p {
		font-size: 1.3rem;
		padding-left: 2px;
	}

	#home{
		padding: 0;
	}


	.box-noticias #noticia-box {
		height: auto !important;
	}

	.home-box > div > div > img {
		width:45%;
	}

	.col-sm-2-6{
		width:16%;
	}

	/*FIN DE LLAVE PRINCIPAL*/

	
}


@media screen and (min-width: 768px) and (max-width: 992px) and(orientation:portrait){

}
