@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

/**{
transition:0.5s;
}*/

a:focus{
	text-decoration:none;
}

a {
   outline: 0 !important;
}

button, input{
  outline: none;
}
/****************************************
************** GENERAL **************/



html{
	margin:0;
	padding:0;
}


/*FONTS*/
@font-face {
    font-family: 'AbelRegular';
    src:
        url('font/Abel-Regular.ttf');


}

@font-face {
    font-family: 'arialregular';
    src: url('fonts/arial-webfont.eot');
    src: url('fonts/arial-webfont.eot?#iefix') format('embedded-opentype'),
      //  url('fonts/arial-webfont.woff2') format('woff2'),
         url('fonts/arial-webfont.woff') format('woff'),
         url('fonts/arial-webfont.ttf') format('truetype'),
         url('fonts/arial-webfont.svg#arialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{

	font-family:'AbelRegular';
  margin:0;
   padding:0;
   height:100%;
   font-size:20px;
}


a{
	text-decoration:none;
	cursor:pointer;
	border:none;
}



li{
	list-style:none;
}
a:hover{
	text-decoration:none;
}

p{
	font-family:'AbelRegular';
}

.center-to-parent{
	display:inline-block;
}

.fadder{
	opacity: 0;
	transition: 0.5s;
}


.div1 {
  /*position:absolute;
  top:9px;
  left:9px;
  height:100px;
  width:100px;*/
  background-color:#498d66;
  border:1px solid white;
  height:50px;
  width:70px;
}

.div1 {
  /*position:absolute;
  top:9px;
  left:9px;
  height:100px;
  width:100px;*/
  background-color:#498d66;
  border:1px solid white;

}

.div2 {
  /*position:relative;
  top:-1px;
  left:-1px;
  height:102px;
  width:102px;*/
  position:relative;

  top:-2px;
  left:-2px;
  /*height:52px;
  width:72px;*/
  background-color:#498d66;
  border-radius: 15px;
}

.border{
  border: 5px solid #000000;
  border-image: url('../img/border.png') 29% ;
  box-sizing: border-box;
}


.border-b{
  border: 5px solid #000000;
  border-image: url('../img/border-b.png') 29% ;
  box-sizing: border-box;
}


 h1 {
  font-size: 80px;
  color: #ffb60a;
}

h1 span {
  color: #68d3a9;
}

.links a img{
  width: 15px ;
  height: 15px;
  margin-right: 10px;
  opacity: 0.5;
}
.links{
  padding: 10px 10px;

}

.links  a img:hover{
  opacity: 1;
}

.selected > div{
  background: #68d3a9;
  height: 2px;
  width: 100%;
}

/*.button-menu{

position: absolute;
z-index: 9999999;
right: 20;


}*/


/*********************** HOME ********************/

section{
  padding: 50px 100px !important;
}

.home{
  height: 100vh;
}
.header-home a {
  text-align: center;
  /*position: absolute;
  right:0;*/
  line-height: 70%;
    color: white;
}

.color-menu a {
  text-align: center;
  position: absolute;
  right:0;
  line-height: 70%;
    color: #ffb60a;
}


.container-home{
  padding: 35vh 0px;
  text-align: center;
  vertical-align: middle;
}

.container-home h1 {
  font-size: 4em;
  color: #ffb60a;
}

.container-home img{
  width: 20em;
}

.container-home h1 span {
  color: #68d3a9;
}

.footer-home{

  padding-bottom: 100px;
    position: absolute;
    bottom: 0;
}

.footer-home a img{
  width: 15px;
  height: 15px;
  margin-right:20px;
  opacity: .5;
}


.footer-home a img:hover{

  opacity:1;
}

#home{
  background-image:radial-gradient(ellipse at center, rgba(255,255,255,0.27) 0%, rgba(0,0,0,0.62) 100%),url('../img/linea-textura-home.svg'),url('../img/simulacion-video.jpg');
  background-repeat:no-repeat,repeat,no-repeat;
  background-size:100% 100% ,10%, 100% 100%;
  background-color: white;
  height: 100vh;
}




/*********************** INICIO ********************/

#inicio{
  /*background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.27) 0%, rgba(0,0,0,0.62) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.27)), color-stop(100%, rgba(0,0,0,0.62)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.27) 0%, rgba(0,0,0,0.62) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.27) 0%, rgba(0,0,0,0.62) 100%);*/
  /*background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.27) 0%, rgba(0,0,0,0.62) 100%);*/
  background: url('../img/rombo-textura-menu-portfolio.svg'),radial-gradient(ellipse at center, rgba(162,234,189,1) 0%, rgba(36,82,55,1) 100%);

  height: 100vh;
  display: none;
  position: fixed;
  z-index:1;
  /*opacity: 0;*/


}

#btn-inicio{
  position:absolute;
   width:auto ;
   padding:50px 100px;
   right:0;
}

.nav-inicio {
  padding: 0 120px;
}

.nav-inicio li a{
  text-align: center;
  color: white;
  font-size: 2.6em;
}


.nav-inicio li:hover{
/*padding: 0px;
transition: all 1s;*/
animation: expand 1s ;
}

.nav-inicio li:hover a p{
   animation: ixpand 1s ;
/*padding: 20px !important;
transition: all 1s;*/
}

@keyframes expand { 0% {padding:0px} 50% {padding: 20px} 75% {padding:5px;}  100% {padding: 20px;} }

@keyframes ixpand {  0% {padding: 20px} 50% {padding:0px} 75% {padding:15px ;}  100% {padding:0px;} }
;
.nav-inicio{
padding-left: 10%;
margin-bottom: 50px;
}


.nav-inicio li{
padding: 20px;
}


.container-inicio{
  padding: 100px 100px;
}

.container-inicio p{
  text-align: justify;
  color: white;
  font-size: 0.9em;
}

.header-inicio p{
  color: white;
  position: absolute;
  right: 0;
  padding: 10px;

}

.second-p, .first-p{
  padding: 20px 10%;
}

.second-p{
  opacity: .5;
}

.li-1{
  max-width: 28%;
}

.li-2{
  max-width: 35%;
}


/*********************** PORTFOLIO ********************/

.portfolio-header  .img-logo,.contact-header  .img-logo {
  width: 10em;
  margin-bottom:150px;
}

.portfolio-2, #portfolio{
background: radial-gradient(ellipse at center, rgba(255,255,255,0.10) 0%, rgba(255,255,255,0.10) 100%),url('../img/rombo-textura-menu-portfolio.svg');
/
}

 .portfolio-2 h2{
   color: gray;
 }
.portfolio-box h2 {
  color: white;
  text-align: left !important;
}

.nav-porfolio li{
  display: inline-block;
  margin: 10px 20px;
  padding-bottom: 5px;
}

.nav-porfolio .not-selected div{
 background: #68d3a9;
 width: 0%;

}

.nav-porfolio .not-selected:hover div{
 width: 100%;
 height: 2px;
transition: all ease .8s;

}

.nav-porfolio {
  text-align: center;
  cursor: pointer;
  /*border-bottom: 2px solid rgba(104,211,169,.3);*/
  padding: 4px;
  margin-bottom: 4px;
  padding-top: 50px;
}

.container-portfolio .solapa div img{
  width: 100%;
  position: relative;
}

.container-portfolio div {
  padding:2px;
  cursor: pointer;
}

.render,.arquitectura, .motion{
  display: none;
}

.covered{
  height:100%;
  background:rgba(125,171,161,.8);
  /*#7daba1*/
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px !important;
}

.covered h1{
  font-size: .9em;
  color:white;
  margin-top: 42%;;
  margin-bottom: 0;
}

.covered p{
  font-size: .7em;
  color:black;
  margin-top: 30px;
}


.covered:hover{
  opacity: 1;
  transition: all .7s;
}

.covered:hover  h1{
  margin-top: 30%;
  transition: all .5s;
}

.covered:hover  p{
  margin-top: 10px;
  transition-delay: 1.5s;
  transition: all 1s;
}


/*********************** CONTACTO ********************/

#contacto{
  max-height: 100vh;
  background-color:#6bcea3;
}
.contacto, .portfolio{
  background: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

/*.contact-header, .portfolio-header{
  padding:0px 50px 50px 0px;
}*/

.contact-header h1, .portfolio-header h1{
  font-size: 2.5em;
  margin:0 auto 3em auto;
}

/*.contact-header a, .portfolio-header a{
  position: absolute;
  right: 0;
  color:#ffb60a;
}*/



.contacto .right-box-contact{
  background-color: white;
}


.right-box-contact,.left-box-contact{
  padding: 50px 100px;
  height: auto;
  padding-bottom: 100px;
}

.left-box-contact input{
  background-color:transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.right-box-contact{
  background-color: white;
}

.left-box-contact ::-webkit-input-placeholder{

  color: white;
}


.right-box-contact p{
  color: black;
  font-size: .9em;

}

.right-box-contact textarea{
  border: fffff;
  width: 100%;

}

.right-box-contact button{
  border:none;
  background-color: transparent;
  color: black;

}
.right-box-contact button:hover{
  color: #ffb60a;
  transition: all .5s;

}


.contact-box, .portfolio-box{
  border: 1px solid white;
  color: white

}

.contact-box h2 , .portfolio-box h2{
  border-bottom: 1px solid white;
  font-size: 3em;
  text-align: left;
  padding:10px;
  margin: 0;
}

.contact-box h2 span:first-child, .portfolio-2 h2 span:nth-child(2){
  color:#68d3a9;
}

.contact-box h2 span:nth-child(2), .portfolio-2 h2 span:first-child{
  color:#ffb60a;
}

.contacto-2{
  padding: 0 !important;
  background: url('../img/cuadrado-textura-contacto.svg');
}

.left-box-contact form input{
  width: 100%;
  padding-top: 3em;
  font-size: .9em;
}

.right-box-contact p{
  padding-top: 1em;
}

.right-box-contact button{
  margin-top: 10px;
  float:right;
}

/*********************** IMAGEN GALERIA ********************/
  .image{
    background: #1d1d1b;
    display: none;
    top:0;
    min-height: 100vh;
    max-height: 100vh;


    /*padding-top: 50px !important;*/
    z-index: 999999999999;

    padding: 0 !important;

  }

  .image .img-screen img{
    width: 100%;
    height: 100%;
    position: relative;
  }
 .image .img-screen{
   padding: 50px 110px !important;
 }
  .img-description{
    background-color: #7daba1;
    z-index: 2;
    padding-left: 50px;

  }
  .img-description p:first-child{
    color: white;
    font-size:1em;
    margin-bottom: 0;
  }

  .img-description p:nth-child(2){
    color:black;
    font-size:.8em;
  }

  .img-remain img{
    padding: 10px 5px;
    cursor: pointer;
    max-height: 150px;
    width: auto;
  }

  .img-remain{
    margin-top: 0;


  }

  iframe.remain-show {
  border:none;

  }

  .img-screen button{
    background: none;
    border-image: url('../img/border.png') 34% repeat;
    font-size: 2em;
    color:#ffb60a;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index:2;
    right: 0;
    margin-right: 50px;
    top: 55px;

  }

  .img-screen button p{
    font-family: arial;
    font-weight: lighter;
    margin-top: -20px;
    margin-bottom: -15px;
  }

  .img-description button{
    position: absolute;
    top:0;
    right: 0;
    border:none;
    font-size:3em;
    background: none;
    color:white;
    font-weight: lighter;

  }



/*////////////////////////*/
 .show-menu-text{

visibility:  hidden;
transform: matrix(1, 0, 0, 1, 0, -15);
transition-delay: .1s;
transition-duration: .25s;
display: block;
}

.hide-menu-text{

visibility: visible;
transform: matrix(1, 0, 0, 1, 0, -5);
transition-delay: .25s;
transition-duration: .25s;
display: block;
}

.prueba-visible{
  visibility: visible;
  transform: matrix(1, 0, 0, 1, 0, 8);
  transition-delay: .25s;
  transition-duration: .25s;
  display: block;
}

.prueba-invisible{
visibility:  hidden;
transform: matrix(1, 0, 0, 1, 0, 0);
transition-delay: .1s;
transition-duration: .25s;
display: block;
}
