@media screen and (min-width: 1500px){



  .nav-inicio li:hover{
  /*padding: 0px;
  transition: all 1s;*/
  animation: expand 1.5s ;
  }

  .nav-inicio li:hover a p{
     animation: ixpand 1.5s ;
  /*padding: 20px !important;
  transition: all 1s;*/
  }
.col-xl-7 {
	width: 14%;
}

.col-xl-5 {
	width: 20%
}

.col-xl-10{
	width: 83.33333333%;
}

.hidden-xl{
	display: none;
}

.home-bottom-box p {
	margin-top: 5%;
}

#ul-nav-principal {
		padding-left:15px;
	}


/*******REMATES*******/
.container-modalidad {
    margin-left: 10px;
	}




	#inner-header{
		height:2.5em !important;
	}


/*CIERRE DE LLLAVE*/
}
