@media screen and (max-width: 767px){

	.back-transition{
	  background-image: url('../img/01.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	  animation: backimg 7s infinite ;
	}

	.border{
	  border:none;
	  border-image: none ;

	}
	.section { /*Disminucion de padding en mobile*/
		padding:20px 2px;
	}

	.portfolio-header .img-logo, .contact-header .img-logo {
		margin-bottom: 20%;
	}
	.col-xs-5{
		width: 20%;
	}

	.col-xs-2-7 {
	width: 14.28%;
}

.contact-box h2, .portfolio-box h2 {
    font-size: 2em;

}


section {
	padding: 20px !important;
}
/*INICIO*/

.container-home img {
    width: 15em;
}

#btn-inicio{
   padding:20px;

}

#inicio{
	height: auto;
	min-height: 100vh;
	position: absolute;
}

#img-to-display iframe{
	max-width: 100vw;
}


#prev-img {
    margin-left: 5%;

}

#next-img,.img-screen button {
    margin-right: 5%;

}

#prev-img,#next-img{
		z-index: 2;
		opacity: .7;
}


.img-screen button{
	top: 30px;
}

.image .img-screen #imagen-mostrada{
	max-width:80vw;
	height: auto;
	position: absolute;
	bottom: 20px;
	margin-bottom: 10%;
}

.image .img-screen {
	height: 60vh;
}

#video-mostrado{
	max-width: 100vw;
	max-height: 50vh;
	margin-top: 30%;
}

.img-remain img {

    max-height: 50px;
    width: auto;
}

/*MENU*/

.container-inicio {
    padding: 40px 0px;
}

.nav-inicio {
  padding: 0;
}

.nav-inicio li {
  padding: 0;
}
/*PORTFOLIO*/

.nav-porfolio li {
    margin: 10px 10px;
}

.li-min{
	     font-size: .4em !important;
}


.container-inicio p {

    /*font-size: 0.8em !important;*/
}

.second-p, .first-p {
    padding: 20px 5%;
}

/*CONTACTO*/

.right-box-contact, .left-box-contact {
    padding: 20px 30px;
		min-height: auto !important;
}

.portfolio-header  .img-logo, .contact-header  .img-logo{
	width: 8em;
}


/*CIERRE DE LLAVES PRINCIPALES*/
}


@media screen and (max-width: 767px) and (orientation:landscape){

	#video-mostrado{

		margin-top: 0%;
	}

.right-box-contact, .left-box-contact{
	min-height: auto !important;
}
/*DISTRIBUCION DE COLUMNAS*/
	.col-lan-xs-3{
			width: 25%;
	}

	.col-lan-xs-6{
			width: 50%;
	}

	.col-lan-xs-4{
			width: 33%;
	}







/*FIN DISTRIBUCION DE COLUMNAS*/



}

@media screen and (max-width: 767px) and (orientation:portrait){


}
