@media screen and (max-width: 767px){


	.section { /*Disminucion de padding en mobile*/
		padding:20px 2px;
	}

	.col-xs-5{
		width: 20%;
	}

	.col-xs-2-7 {
	width: 14.28%;
}


section {
	padding: 20px !important;
}
/*INICIO*/

.container-home img {
    width: 15em;
}

#btn-inicio{
   padding:20px;

}

/*MENU*/

.container-inicio {
    padding: 20px;
}

/*PORTFOLIO*/

.nav-porfolio li {
    margin: 10px 10px;
}

/*CONTACTO*/

.right-box-contact, .left-box-contact {
    padding: 50px 30px;
}

/*CIERRE DE LLAVES PRINCIPALES*/
}


@media screen and (max-width: 767px) and (orientation:landscape){


/*DISTRIBUCION DE COLUMNAS*/
	.col-lan-xs-3{
			width: 25%;
	}

	.col-lan-xs-6{
			width: 50%;
	}

	.col-lan-xs-4{
			width: 33%;
	}







/*FIN DISTRIBUCION DE COLUMNAS*/



}
