@media screen and (max-width: 767px){


	.section { /*Disminucion de padding en mobile*/
		padding:20px 2px;
	}

	.portfolio-header .img-logo, .contact-header .img-logo {
		margin-bottom: 20px;
	}
	.col-xs-5{
		width: 20%;
	}

	.col-xs-2-7 {
	width: 14.28%;
}

.contact-box h2, .portfolio-box h2 {
    font-size: 2em;

}


section {
	padding: 20px !important;
}
/*INICIO*/

.container-home img {
    width: 15em;
}

#btn-inicio{
   padding:20px;

}

/*MENU*/

.container-inicio {
    padding: 20px;
}

.nav-inicio {
  padding: 0;
}

.nav-inicio li {
  padding: 0;
}
/*PORTFOLIO*/

.nav-porfolio li {
    margin: 10px 10px;
}

.li-min{
	     font-size: .4em !important;
}

.container-inicio p {

    font-size: 0.8em;
}

.second-p, .first-p {
    padding: 20px 5%;
}

/*CONTACTO*/

.right-box-contact, .left-box-contact {
    padding: 20px 30px;
		height: auto;
}


/*CIERRE DE LLAVES PRINCIPALES*/
}


@media screen and (max-width: 767px) and (orientation:landscape){


/*DISTRIBUCION DE COLUMNAS*/
	.col-lan-xs-3{
			width: 25%;
	}

	.col-lan-xs-6{
			width: 50%;
	}

	.col-lan-xs-4{
			width: 33%;
	}







/*FIN DISTRIBUCION DE COLUMNAS*/



}
